@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
  --font-family: 'Space Mono', mono;
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --darkgrayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 24px;
  font-family: var(--font-family);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  border: 2px solid var(--strong-cyan);
}
input:hover {
  border: 2px solid var(--strong-cyan);
}
/* input:invalid{
  border: 2px solid rgb(244 136 136);
} */

p {
  margin: 0;
}

@media (width <= 375px) {
  input {
    max-width: 50%;
  }
}

@media (width <= 750px) {
  input {
    font-size: 32px;
  }
}
